################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdventCode2021/AdventCode2021/bin/Debug/netcoreapp3.1
